@import url("./theme-selector.css");

.header {
  align-items: center;
  background: var(--header-bg);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.header-left {
  color: var(--text-color);
  flex: 1;
  font-size: 14px;
  font-weight: 500;
}
